<footer class="footer bg-sec">
    <div class="links">
        <a href="https://github.com/heerhaan/">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/mika-van-den-brink-430746154/">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="mailto:mikavandenbrink@outlook.com">
            <i class="fas fa-envelope"></i>
        </a>
    </div>
    <div class="copyright">
        <span class="text-muted">&copy; Mika van den Brink - DATE_TEMP.</span>
    </div>
</footer>