---
---

html {
  background-image: url('{{ site.baseurl }}/assets/images/space_tile.png');
  background-repeat: repeat;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #010310;
  color: white;
}

.side-content {
  width: 200px;
  padding: 12px 4px;
  margin: 0 12px;
}

.side-item {
  height: 30px;
}

.post-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 200px;
}

.post-link {
  width: 600px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.about-content {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.profile-info {
  width: 30%;
}

.profile-info .avatar {
  width: 100%;
  height: 300px;
  background-color: goldenrod;
}

.profile-info .about-me {
  width: 100%;
  height: 300px;
  background-color: gray;
}

.profile-content {
  width: 70%;
  background-color: gray;
}

.post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post-content {
  max-width: 600px;
  padding: 4px 8px;
  background-color: darkgray;
}