.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 200px;
  background-color: #010310;
}

.post-list-wrapper {
  width: 200px;
  height: 200px;
}